<nav *screenLarge class="menu">
  <ul class="menu__list" (click)="activetedMenuItem($event)">
    <li class="menu__item">
      <a class="menu__link">Главная</a>
    </li>
    <li class="menu__item">
      <a class="menu__link">Стоимость</a>
    </li>
    <li class="menu__item">
      <a class="menu__link">Наш автопарк</a>
    </li>
    <li class="menu__item">
      <a class="menu__link">Отзывы</a>
    </li>
    <li class="menu__item">
      <a class="menu__link">Контакты</a>
    </li>
  </ul>
</nav>
<nav *screenMiddle class="menu">
  <ul class="menu__list" (click)="activetedMenuItem($event)">
    <li class="menu__item">
      <a class="menu__link">Главная</a>
    </li>
    <li class="menu__item">
      <a class="menu__link">Стоимость</a>
    </li>
    <li class="menu__item">
      <a class="menu__link">Наш автопарк</a>
    </li>
    <li class="menu__item">
      <a class="menu__link">Отзывы</a>
    </li>
    <li class="menu__item">
      <a class="menu__link">Контакты</a>
    </li>
  </ul>
</nav>
<nav *screenSmall="" class="menu-small">
  <ul class="menu-small__list" (click)="activetedMenuItem($event)">
    <li class="menu-small__item">
      <a class="menu-small__link">Главная</a>
    </li>
    <li class="menu-small__item">
      <a class="menu-small__link">Стоимость</a>
    </li>
    <li class="menu-small__item">
      <a class="menu-small__link">Наш автопарк</a>
    </li>
    <li class="menu-small__item">
      <a class="menu-small__link">Отзывы</a>
    </li>
    <li class="menu-small__item">
      <a class="menu-small__link">Контакты</a>
    </li>
  </ul>
</nav>
